ul {
  list-style-type: none;
}

.event-list {
 box-sizing:border-box
}
.event-list>li {
 margin-top:1em
}
.event-list__short .event-thumb_info {
 float:none;
 width:100%
}
.event-list__short .event-thumb_cover {
 display:block;
 margin-top:.5em;
 width:100%
}
.event-list__short .event-location {
 display:block
}
.event-thumb {
 position:relative;
 border:1px solid #d3d3d5;
 border-radius:2px;
 background-color:#fff;
 text-align:left
}
.event-thumb .featured-label {
 position:absolute;
 top:0;
 right:0
}
.event-thumb_link {
 display:block;
 padding:1em
}
.event-thumb_link:hover {
 background-color:rgba(241,241,241,0.2)
}
.event-thumb_link:hover .event-thumb_name {
 color:#56ab48
}
.event-thumb_detail {
 box-sizing:border-box;
 padding-left:4em;
 line-height:130%
}
.event-thumb_detail .datetime {
 font-size:.8em;
 display:block;
 font-weight:bold;
 color:#636363
}
.event-thumb_location,.event-thumb_organizer {
 font-size:.8em;
 color:rgba(90,93,88,0.6)
}
.event-thumb_location {
 display:block
}
.event-thumb_info {
 float:left;
 width:75%
}
@media (max-width: 560px) {
 .event-thumb_info {
  float:none;
  width:100%
 }
}
.event-thumb_cover {
 float:right;
 width:24%;
 height:80px;
 background-size:cover;
 background-position:50%
}
@media (max-width: 560px) {
 .event-thumb_cover {
  margin-top:.5em;
  width:100%
 }
}
.event-thumb_name {
 color:#333;
 font-size:1.3em;
 font-weight:normal;
 line-height:150%
}
.event-cal {
 float:left;
 padding-right:1em;
 margin-right:.5em;
 border-right:1px solid #d3d3d5;
 width:2em;
 text-align:center;
 line-height:130%;
 font-family:ubuntu,"Helvetica Neue",Verdana,Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","ＭＳ ゴシック","Kozuka Gothic Pr6N",Osaka,"MS PGothic",sans-serif;
 font-weight:bold;
 color:#636363
}
.event-cal .month {
 display:block;
 font-size:.8em;
 text-transform:uppercase
}
.event-cal .day {
 display:block;
 font-size:1.3em
}