/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

.login-parent {
  position: relative;
}

.login-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
    background-color: #f5f5f5;
    /* The WOKO yellow #FFC000 */
}


.card-date > p {
    margin: 0;
    text-align: center;
}

.card-date-month {
    font-size: 0.85em;
}

.card-date-day {
    font-size: 1.3em;
}

.comp-footer > .text-muted {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}